<section class="jci-landing-section jci-login-landing-section jci-user-login-section">
    <div class="container">
        <div class="row g-0">
            <div class="col col-12 col-md-6 col-lg-6 mx-auto">
                <div class="jci-login-content">
                    <h1 class="jci-section-title text-center">Register</h1>
                    <div class="jci-login-content__inner">
                        <form class="row g-4" id='frmRegistration' [formGroup]="frmRegistration" name="frmRegistration" method="POST" (ngSubmit)="submitRegistration()" novalidate>

                            <div class="col-md-12">
                                <div class="form-group">
                                    
                                    <select class="form-control" name="user_type" id="user_type" formControlName="user_type">
                                        <option value="" selected="selected">Select User Type</option>
                                        <option value="o" >Owner</option>
                                        <option value="r">Receptionist</option>
                                        <option value="a">Account</option>
                                        <option value="m">Manager</option>
                                    </select>

                                    <div *ngIf="frmRegistration.controls.user_type.invalid && (frmRegistration.controls.user_type.dirty || frmRegistration.controls.user_type.touched)">
                                        <div class="error-block" *ngIf="frmRegistration.get('user_type')?.hasError('required')">
                                           Please select user type
                                        </div>
                                     </div>

                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    
                                    <input type="text" class="form-control" name="firstName" id="firstName" formControlName="firstName"  placeholder="First Name">

                                    <div *ngIf="frmRegistration.controls.firstName.invalid && (frmRegistration.controls.firstName.dirty || frmRegistration.controls.firstName.touched)">
                                       <div class="error-block" *ngIf="frmRegistration.get('firstName')?.hasError('required')">
                                          Please enter first name
                                       </div>
                                    </div>

                                    <svg id="person_outline_black_24dp_1_" data-name="person_outline_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path id="Path_1" data-name="Path 1" d="M0,0H24V24H0Z" fill="none"/>
                                        <path id="Path_2" data-name="Path 2" d="M12,5.9A2.1,2.1,0,1,1,9.9,8,2.1,2.1,0,0,1,12,5.9m0,9c2.97,0,6.1,1.46,6.1,2.1v1.1H5.9V17c0-.64,3.13-2.1,6.1-2.1M12,4a4,4,0,1,0,4,4A4,4,0,0,0,12,4Zm0,9c-2.67,0-8,1.34-8,4v3H20V17C20,14.34,14.67,13,12,13Z" fill="#fff"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group">
                                    <input type="text" class="form-control" class="form-control" name="lastName" id="lastName" formControlName="lastName"  placeholder="Last Name">

                                    <div *ngIf="frmRegistration.controls.lastName.invalid && (frmRegistration.controls.lastName.dirty || frmRegistration.controls.lastName.touched)">
                                        <div class="error-block" *ngIf="frmRegistration.get('lastName')?.hasError('required')">
                                            Please enter last name
                                        </div>
                                    </div>

                                    <svg id="person_outline_black_24dp_1_" data-name="person_outline_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path id="Path_1" data-name="Path 1" d="M0,0H24V24H0Z" fill="none"/>
                                        <path id="Path_2" data-name="Path 2" d="M12,5.9A2.1,2.1,0,1,1,9.9,8,2.1,2.1,0,0,1,12,5.9m0,9c2.97,0,6.1,1.46,6.1,2.1v1.1H5.9V17c0-.64,3.13-2.1,6.1-2.1M12,4a4,4,0,1,0,4,4A4,4,0,0,0,12,4Zm0,9c-2.67,0-8,1.34-8,4v3H20V17C20,14.34,14.67,13,12,13Z" fill="#fff"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="email" class="form-control" placeholder="Enter email / User name" class="form-control" name="email" id="email" formControlName="email">

                                    <div *ngIf="frmRegistration.controls.email.invalid && (frmRegistration.controls.email.dirty || frmRegistration.controls.email.touched)">
                                        <div class="error-block" *ngIf="frmRegistration.get('email')?.hasError('required')">
                                            Please enter email name
                                        </div>
                                    </div>

                                    <svg id="mail_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path id="Path_5" data-name="Path 5" d="M0,0H24V24H0Z" fill="none"/>
                                        <path id="Path_6" data-name="Path 6" d="M22,6a2.006,2.006,0,0,0-2-2H4A2.006,2.006,0,0,0,2,6V18a2.006,2.006,0,0,0,2,2H20a2.006,2.006,0,0,0,2-2ZM20,6l-8,4.99L4,6Zm0,12H4V8l8,5,8-5Z" fill="#fff"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="form-group">
                                    <input type="password" class="form-control" placeholder="Enter Password" name="password" id="password" formControlName="password">

                                    <div *ngIf="frmRegistration.controls.password.invalid && (frmRegistration.controls.password.dirty || frmRegistration.controls.password.touched)">
                                        <div class="error-block" *ngIf="frmRegistration.get('password')?.hasError('required')">
                                            Please enter password
                                        </div>
                                    </div>

                                    <svg id="vpn_key_black_24dp_1_" data-name="vpn_key_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                                        <path id="Path_3" data-name="Path 3" d="M0,0H24V24H0Z" fill="none"/>
                                        <path id="Path_4" data-name="Path 4" d="M22,19H16V15H13.32a7,7,0,1,1,0-6H24v6H22Zm-4-2h2V13h2V11H11.94l-.23-.67a5,5,0,1,0,0,3.34l.23-.67H18ZM7,15a3,3,0,1,1,3-3A3.009,3.009,0,0,1,7,15Zm0-4a1,1,0,1,0,1,1A1,1,0,0,0,7,11Z" fill="#fff"/>
                                    </svg>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <button type="submit" [disabled]="(!frmRegistration.valid)" class="btn btn-dark">Register Now</button>
                            </div>
                        </form>
                    </div>
                    <p class="jci-login-form-notes">You have already an account then <a routerLink="/login">Login now</a></p>
                    <p class="jci-login-form-notes"><a routerLink="/">Go to Home</a> </p>
                </div>
            </div>
        </div>
    </div>
</section>