<section class="jci-dashboard-section">
    <div class="jci-dashboard__inner">
       <div class="jci-dashboard-sidebar">
        <app-leftmenu></app-leftmenu>
       </div>
       <div class="jci-dashboard-content">
          <div class="jci-dashboard-content__inner">
             <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane active" id="v-pills-checkList" role="tabpanel"  aria-labelledby="v-pills-checkList-tab">
                        <div class="jci-dashboard-content-area" data-scrollbar>
                            <div class="jci-content-area">
                                <div class="jci-title d-flex justify-content-between">
                                    <div class="title">
                                       <h2 class="jci-dashboard-title">Check List</h2>
                                    </div>                                    
                                </div>
                                
                                
                                <div class="table-responsive">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr>
                                                <th scope="col">Guest Name</th>
                                                <th scope="col">Id Proof</th>                                                
                                                <th scope="col" class="text-end">Action</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngFor="let guest of guestData">
                                                <td>{{guest.guest_name}}</td>
                                                <td>{{guest.guest_id_proof}}</td>
                                                <td class="text-end">
                                                    <button type="button" class="btn btn-success btn-sm" (click)="downloadMyFile(guest.guest_id_proof)">Download</button>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
             </div>
          </div>
       </div>
    </div>
 </section>