<section class="jci-dashboard-section">
    <div class="jci-dashboard__inner">
       <div class="jci-dashboard-sidebar">
        <app-leftmenu></app-leftmenu>
       </div>
       <div class="jci-dashboard-content">
          <div class="jci-dashboard-content__inner">
             <div class="tab-content" id="v-pills-tabContent">
                <!-- Dashboard Content Start -->
                <div class="tab-pane fade show active" id="v-pills-dashboard" role="tabpanel"  aria-labelledby="v-pills-dashboard-tab">
                   <div class="jci-dashboard-content-area" data-scrollbar>
                      <div class="jci-total-count-data">
                         <div class="row">
                            <div class="col col-12 col-md-6 col-lg-6">
                               <div class="jci-total-count-card">
                                  <h3 class="jci-total-count-number">$5999</h3>
                                  <label class="jci-total-count-label">Receive Amount</label>
                               </div>
                            </div>
                            <div class="col col-12 col-md-6 col-lg-6">
                               <div class="jci-total-count-card">
                                  <h3 class="jci-total-count-number">$1999</h3>
                                  <label class="jci-total-count-label">Pay Amount</label>
                               </div>
                            </div>
                            <div class="col col-12 col-md-6 col-lg-6">
                               <div class="jci-total-count-card">
                                  <h3 class="jci-total-count-number">$3499</h3>
                                  <label class="jci-total-count-label">Pay Salary</label>
                               </div>
                            </div>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Dashboard Content End -->
                <!-- Pay Salary Content Start -->
                <div class="tab-pane fade" id="v-pills-pay-salary" role="tabpanel" aria-labelledby="v-pills-pay-salary-tab">
                   <div class="jci-dashboard-content-area" data-scrollbar>
                      <div class="jci-content-area">
                         <div class="jci-pay-salary">
                            <h2 class="jci-dashboard-title">Pay Salary</h2>
                            <table class="table table-hover">
                               <thead>
                                  <tr>
                                     <th scope="col">Employee Name</th>
                                     <th scope="col">Department</th>
                                     <th scope="col">Roles</th>
                                     <th scope="col">Salary</th>
                                     <th scope="col" class="text-end">Action</th>
                                  </tr>
                               </thead>
                               <tbody>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                                  <tr>
                                     <td>Employee name</td>
                                     <td>department</td>
                                     <td>roles</td>
                                     <td>$899</td>
                                     <td class="text-end">
                                        <a href="#" class="btn btn-success btn-sm">Pay Salary</a>
                                     </td>
                                  </tr>
                               </tbody>
                            </table>
                         </div>
                      </div>
                   </div>
                </div>
                <!-- Pay Salary Content End -->
             </div>
          </div>
       </div>
    </div>
 </section>