<app-header></app-header>
<main class="jci-site-content">
    <!-- Landing Section Start -->
    <section class="jci-landing-section" style="background-image: url('{{bannerData.data.image}}');">
        <div class="container">
            <div class="row">
                <div class="col col-12 col-md-8 col-lg-8">
                    <h1 class="jci-section-title">
                        {{bannerData.data.title}}
                    </h1>
                    <p class="jci-section-description">
                        {{bannerData.data.description}}
                    </p>
                    <a href="#" class="btn btn-success">Know More</a>
                </div>
            </div>
        </div>
    </section>
    <!-- Landing Section End -->

    <!-- Manage Companies Start -->
    <section class="jci-manage-companies">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-manage-companies-img">
                        <img src="assets/images/jci-manage-companies-img.png" alt="manage companies" class="img-fluid" />
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-manage-companies-content">
                        <h3 class="jci-section-title">
                            Manage multiple companies, <br />
                            multiple Hotel with a Centralized System
                        </h3>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facere esse tempore quod? Molestiae at reiciendis eius voluptatum nesciunt, officia autem molestias doloribus quae praesentium quibusdam
                            amet quasi impedit temporibus!
                        </p>
                        <p>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facere esse tempore quod? Molestiae at reiciendis eius voluptatum nesciunt, officia autem molestias doloribus quae praesentium quibusdam
                            amet quasi impedit temporibus!
                        </p>
                        <a href="#" class="btn btn-success">Start Now</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Manage Companies End -->

    <!-- Testimonials Section Start -->
    <section class="jci-testimonial">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-testimonial-content">
                        <h2 class="jci-section-title">Testimonials</h2>
                        <div class="jci-testimonial-slider">
                            <div class="jci-testimonial-item">
                                <p class="jci-testimonial-description">
                                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda facere esse tempore quod? Molestiae at reiciendis eius voluptatum nesciunt, officia autem molestias doloribus quae praesentium
                                    quibusdam amet quasi impedit temporibus!
                                </p>
                                <label class="jci-testimonial-label">-- Lorem ipsum</label>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-testimonial-img">
                        <img src="assets/images/testimonial-img.png" alt="Testimonial" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Testimonials Section End -->

    <!-- Featurs Section Start -->
    <section class="jci-features">
        <div class="container">
            <div class="row align-items-center">
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-features-content">
                        <h2 class="jci-section-title">Responsive Website:</h2>
                        <p class="jci-section-description">
                            Responsive website design with booking engine from any device. Simple, professional website design allows your Guest book rooms of their choice with a seamless booking engine.
                        </p>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-features-img">
                        <img src="assets/images/responsive-website.png" alt="responsive-website" class="img-fluid" />
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-features-img">
                        <img src="assets/images/payment-gateway.png" alt="payment-gateway" class="img-fluid" />
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-features-content">
                        <h2 class="jci-section-title">Payment Gateway Integration:</h2>
                        <p class="jci-section-description">Accept direct guest payments by providing them</p>
                    </div>
                </div>
            </div>
            <div class="row align-items-center">
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-features-content">
                        <h2 class="jci-section-title">Transparency with Hotel Reservation system:</h2>
                        <p class="jci-section-description">Automate Hotel Website sync with Hotel Reservation system and offers you the admin panel to accept the bookings and customize rooms images, price, amenities etc.</p>
                    </div>
                </div>
                <div class="col col-12 col-md-6 col-lg-6">
                    <div class="jci-features-img">
                        <img src="assets/images/transparency-reservation.png" alt="transparency-reservation" class="img-fluid" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Featurs Section End -->

    <!-- About Section Start -->
    <section class="jci-about">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="jci-about-card">
                        <div class="jci-about-icon">
                            <img src="assets/images/increased-engagement.png" alt="Increased Engagement" class="img-fluid" />
                        </div>
                        <div class="jci-about-body">
                            <h3 class="jci-about-title">60%</h3>
                            <label class="jci-about-label">Increased Engagement</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="jci-about-card">
                        <div class="jci-about-icon">
                            <img src="assets/images/increased-oversight.png" alt="Increased Oversight" class="img-fluid" />
                        </div>
                        <div class="jci-about-body">
                            <h3 class="jci-about-title">75%</h3>
                            <label class="jci-about-label">Increased Oversight</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="jci-about-card">
                        <div class="jci-about-icon">
                            <img src="assets/images/real-time-data.png" alt="Real Time Data" class="img-fluid" />
                        </div>
                        <div class="jci-about-body">
                            <h3 class="jci-about-title">70%</h3>
                            <label class="jci-about-label">Real Time Data</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="jci-about-card">
                        <div class="jci-about-icon">
                            <img src="assets/images/enhanced-productivity.png" alt="Enhanced Productivity" class="img-fluid" />
                        </div>
                        <div class="jci-about-body">
                            <h3 class="jci-about-title">30%</h3>
                            <label class="jci-about-label">Enhanced Productivity</label>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="jci-about-card">
                        <div class="jci-about-icon">
                            <img src="assets/images/exception-management.png" alt="Exception Management" class="img-fluid" />
                        </div>
                        <div class="jci-about-body">
                            <h3 class="jci-about-title">40%</h3>
                            <label class="jci-about-label">Exception Management</label>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- About Section End -->

    <!-- Our customers Section Start -->
    <section class="jci-our-customer">
        <div class="container">
            <div class="jci-section-heading text-center">
                <h2 class="jci-section-title">Our customers across the world</h2>
                <p class="jci-section-description">Automate Hotel Website sync with Hotel Reservation system and offers you the admin panel to accept the bookings and</p>
            </div>
            <div class="jci-our-customer-img text-center">
                <img src="assets/images/world-map.png" alt="" class="img-fluid" />
            </div>
        </div>
    </section>
    <!-- Our customers Section End -->
</main>
<app-footer></app-footer>


