<section class="jci-dashboard-section">
    <div class="jci-dashboard__inner">
       <div class="jci-dashboard-sidebar">
        <app-leftmenu></app-leftmenu>
       </div>
       <div class="jci-dashboard-content">
          <div class="jci-dashboard-content__inner">
             <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane active " id="v-pills-add-property" role="tabpanel"  aria-labelledby="v-pills-add-property-tab">
                   <div class="jci-dashboard-content-area" data-scrollbar>
                      <div class="jci-assign-roles h-100">
                         <div class="jci-content-area">
                            <h2 class="jci-dashboard-title">Edit Property</h2>
                            <form class="row g-3" [formGroup]="frmEditProperty" name="frmEditProperty" method="POST" (ngSubmit)="submitEditProperty()" novalidate>
                               <div class="col-md-6">
                                  <label for="inputPropertyName" class="form-label">Property Name</label>
                                  <input type="text" class="form-control" id="propertyName" name="propertyName" formControlName="propertyName" placeholder="Enter Property Name">
                                  <div *ngIf="frmEditProperty.controls.propertyName.invalid && (frmEditProperty.controls.propertyName.dirty || frmEditProperty.controls.propertyName.touched)">
                                        <div class="error-block" *ngIf="frmEditProperty.get('propertyName')?.hasError('required')">
                                            Please enter property name
                                        </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <label for="inputPropertyType" class="form-label">Property Type</label>
                                  <select id="propertyType" name="propertyType" formControlName="propertyType" class="form-select">
                                     <option selected="">Select Property Type</option>
                                     <option  *ngFor="let propertyType of propertyType.data" value="{{propertyType.id}}">{{propertyType.name}}</option>
                                  </select>
                                  <div *ngIf="frmEditProperty.controls.propertyType.invalid && (frmEditProperty.controls.propertyType.dirty || frmEditProperty.controls.propertyType.touched)">
                                        <div class="error-block" *ngIf="frmEditProperty.get('propertyType')?.hasError('required')">
                                            Please enter property type
                                        </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <label for="inputAddress" class="form-label">Address</label>
                                  <input type="text" class="form-control" name="address" id="address" formControlName="address" placeholder="Enter address">
                                  <div *ngIf="frmEditProperty.controls.address.invalid && (frmEditProperty.controls.address.dirty || frmEditProperty.controls.address.touched)">
                                        <div class="error-block" *ngIf="frmEditProperty.get('address')?.hasError('required')">
                                            Please enter address
                                        </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <label for="inputRoom" class="form-label">Total Room</label>
                                  <input type="text" class="form-control" name="totalRoom" formControlName="totalRoom" id="totalRoom" placeholder="Enter Total Room">
                                  <div *ngIf="frmEditProperty.controls.totalRoom.invalid && (frmEditProperty.controls.totalRoom.dirty || frmEditProperty.controls.totalRoom.touched)">
                                        <div class="error-block" *ngIf="frmEditProperty.get('totalRoom')?.hasError('required')">
                                            Please enter total room
                                        </div>
                                  </div>
                               </div>
                               <div class="col-md-6">
                                  <label for="inputImage" class="form-label">Property Image</label>
                                  <div class="jci-choose-file-input">
                                     <input type="file" class="form-control" name="image" id="image" formControlName="image" (change)="onFileChange($event)">
                                     <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">
                                     <div *ngIf="frmEditProperty.controls.image.invalid && (frmEditProperty.controls.image.dirty || frmEditProperty.controls.image.touched)">
                                        <div class="error-block" *ngIf="frmEditProperty.get('image')?.hasError('required')">
                                            Please select image
                                        </div>
                                  </div>
                                  </div>
                               </div>
                               <div class="col-12">
                                  <button type="submit" [disabled]="(!frmEditProperty.valid)" class="btn btn-success">Edit Property</button>
                               </div>
                            </form>
                         </div>
                      </div>
                   </div>
                </div>
             </div>
          </div>
       </div>
    </div>
 </section>