<div class="jci-dashboard-sidebar__inner">
    <div class="jci-dashboard-logo">
       <img src="assets/images/logo.png" alt="Logo" class="img-fluid">
    </div>
    <div class="jci-dashboard-sidebar-menu" data-scrollbar>
       <div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
          <button class="nav-link active" id="v-pills-dashboard-tab" data-bs-toggle="pill" data-bs-target="#v-pills-dashboard" type="button" role="tab" aria-controls="v-pills-dashboard" aria-selected="true">
             <svg id="analytics_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <rect id="Rectangle_41" data-name="Rectangle 41" width="24" height="24" fill="none"/>
                <g id="Group_937" data-name="Group 937">
                   <path id="Path_228" data-name="Path 228" d="M19,3H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19Z" fill="#fff"/>
                   <rect id="Rectangle_42" data-name="Rectangle 42" width="2" height="5" transform="translate(7 12)" fill="#fff"/>
                   <rect id="Rectangle_43" data-name="Rectangle 43" width="2" height="10" transform="translate(15 7)" fill="#fff"/>
                   <rect id="Rectangle_44" data-name="Rectangle 44" width="2" height="3" transform="translate(11 14)" fill="#fff"/>
                   <rect id="Rectangle_45" data-name="Rectangle 45" width="2" height="2" transform="translate(11 10)" fill="#fff"/>
                </g>
             </svg>
             <span>Dashboard</span>
          </button>
          <button class="nav-link" id="v-pills-view-bookings-tab" data-bs-toggle="pill" data-bs-target="#v-pills-view-bookings" type="button" role="tab" aria-controls="v-pills-view-bookings" aria-selected="false">
             <svg id="analytics_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <rect id="Rectangle_41" data-name="Rectangle 41" width="24" height="24" fill="none"/>
                <g id="Group_937" data-name="Group 937">
                   <path id="Path_228" data-name="Path 228" d="M19,3H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19Z" fill="#fff"/>
                   <rect id="Rectangle_42" data-name="Rectangle 42" width="2" height="5" transform="translate(7 12)" fill="#fff"/>
                   <rect id="Rectangle_43" data-name="Rectangle 43" width="2" height="10" transform="translate(15 7)" fill="#fff"/>
                   <rect id="Rectangle_44" data-name="Rectangle 44" width="2" height="3" transform="translate(11 14)" fill="#fff"/>
                   <rect id="Rectangle_45" data-name="Rectangle 45" width="2" height="2" transform="translate(11 10)" fill="#fff"/>
                </g>
             </svg>
             <span>View Bookings</span>
          </button>
          <button class="nav-link" id="v-pills-room-booking-tab" data-bs-toggle="pill" data-bs-target="#v-pills-room-booking" type="button" role="tab" aria-controls="v-pills-room-booking" aria-selected="false">
             <svg id="meeting_room_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_229" data-name="Path 229" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_230" data-name="Path 230" d="M19,19V4H15V3H5V19H3v2H15V6h2V21h4V19Zm-6,0H7V5h6Zm-3-8h2v2H10Z" fill="#fff"/>
             </svg>
             <span>Room Booking Status</span>
          </button>
          <button class="nav-link" id="v-pills-upcoming-booking-tab" data-bs-toggle="pill" data-bs-target="#v-pills-upcoming-booking" type="button" role="tab" aria-controls="v-pills-upcoming-booking" aria-selected="false">
             <svg id="upcoming_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_942" data-name="Group 942">
                   <rect id="Rectangle_47" data-name="Rectangle 47" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_943" data-name="Group 943">
                   <path id="Path_231" data-name="Path 231" d="M17.6,10.81,16.19,9.4l3.56-3.55,1.41,1.41C21.05,7.29,17.6,10.81,17.6,10.81ZM13,3H11V8h2ZM6.4,10.81,7.81,9.4,4.26,5.84,2.84,7.26C2.95,7.29,6.4,10.81,6.4,10.81ZM20,14H16.58a5,5,0,0,1-9.16,0H4v5H20V14m0-2a2.006,2.006,0,0,1,2,2v5a2.006,2.006,0,0,1-2,2H4a2.006,2.006,0,0,1-2-2V14a2.006,2.006,0,0,1,2-2H9a3,3,0,0,0,6,0Z" fill="#fff"/>
                </g>
             </svg>
             <span>Upcoming Bookings</span>
          </button>
          <a routerLink="/add-employee">
          <button class="nav-link" id="v-pills-add-employees-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-employees" type="button" role="tab" aria-controls="v-pills-add-employees" aria-selected="false">
             <svg id="group_add_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_966" data-name="Group 966">
                   <rect id="Rectangle_51" data-name="Rectangle 51" width="24" height="24" fill="none"/>
                   <rect id="Rectangle_52" data-name="Rectangle 52" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_968" data-name="Group 968">
                   <g id="Group_967" data-name="Group 967">
                      <path id="Path_245" data-name="Path 245" d="M22,9V7H20V9H18v2h2v2h2V11h2V9Z" fill="#fff"/>
                      <path id="Path_246" data-name="Path 246" d="M8,12A4,4,0,1,0,4,8,4,4,0,0,0,8,12ZM8,6A2,2,0,1,1,6,8,2.006,2.006,0,0,1,8,6Z" fill="#fff"/>
                      <path id="Path_247" data-name="Path 247" d="M8,13c-2.67,0-8,1.34-8,4v3H16V17C16,14.34,10.67,13,8,13Zm6,5H2v-.99C2.2,16.29,5.3,15,8,15s5.8,1.29,6,2Z" fill="#fff"/>
                      <path id="Path_248" data-name="Path 248" d="M12.51,4.05a5.981,5.981,0,0,1,0,7.9,3.98,3.98,0,0,0,0-7.9Z" fill="#fff"/>
                      <path id="Path_249" data-name="Path 249" d="M16.53,13.83A4.237,4.237,0,0,1,18,17v3h2V17C20,15.55,18.41,14.49,16.53,13.83Z" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Add Employees</span>
          </button>
         </a>
         <a routerLink="/assign-tasks">
          <button class="nav-link" id="v-pills-add-assign-tasks-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-assign-tasks" type="button" role="tab" aria-controls="v-pills-add-assign-tasks" aria-selected="false">
             <svg id="assignment_turned_in_black_24dp_1_" data-name="assignment_turned_in_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_258" data-name="Path 258" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_259" data-name="Path 259" d="M18,9,16.59,7.58,10,14.17,7.41,11.59,6,13l4,4Zm1-6H14.82A2.988,2.988,0,0,0,9.18,3H5a1.752,1.752,0,0,0-.4.04A2.021,2.021,0,0,0,3.16,4.23,1.926,1.926,0,0,0,3,5V19a2.052,2.052,0,0,0,.16.78,2.119,2.119,0,0,0,.43.64,2.008,2.008,0,0,0,1.01.55A2.6,2.6,0,0,0,5,21H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm-7-.25a.75.75,0,1,1-.75.75A.755.755,0,0,1,12,2.75ZM19,19H5V5H19Z" fill="#fff"/>
             </svg>
             <span>Assign Tasks</span>
          </button>
         </a>
          <a routerLink="/add-property">
          <button class="nav-link" id="v-pills-add-property-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-property" type="button" role="tab" aria-controls="v-pills-add-property" aria-selected="false">
             <svg id="add_box_black_24dp_1_" data-name="add_box_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_260" data-name="Path 260" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_261" data-name="Path 261" d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19Zm-8-2h2V13h4V11H13V7H11v4H7v2h4Z" fill="#fff"/>
             </svg>
             <span>Add Property</span>
          </button>
          </a>
          <a routerLink="/manage-property">
          <button class="nav-link" id="v-pills-manage-property-tab" data-bs-toggle="pill" data-bs-target="#v-pills-manage-property" type="button" role="tab" aria-controls="v-pills-manage-property" aria-selected="false">
             <svg id="add_business_black_24dp_1_" data-name="add_business_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1167" data-name="Group 1167">
                   <rect id="Rectangle_57" data-name="Rectangle 57" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_1169" data-name="Group 1169">
                   <g id="Group_1168" data-name="Group 1168">
                      <rect id="Rectangle_58" data-name="Rectangle 58" width="15" height="2" transform="translate(2 4)" fill="#fff"/>
                      <path id="Path_264" data-name="Path 264" d="M15,17h2V14h1V12L17,7H2L1,12v2H2v6h9V14h4ZM9,18H4V14H9ZM3.04,12l.6-3H15.36l.6,3Z" fill="#fff"/>
                      <path id="Path_265" data-name="Path 265" d="M23,18H20V15H18v3H15v2h3v3h2V20h3Z" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Manage Property</span>
          </button>
        </a>
          <a routerLink="/manage-task">
          <button class="nav-link" id="v-pills-manage-task-tab" data-bs-toggle="pill" data-bs-target="#v-pills-manage-task" type="button" role="tab" aria-controls="v-pills-manage-task" aria-selected="false">
             <svg id="assignment_turned_in_black_24dp_1_" data-name="assignment_turned_in_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_258" data-name="Path 258" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_259" data-name="Path 259" d="M18,9,16.59,7.58,10,14.17,7.41,11.59,6,13l4,4Zm1-6H14.82A2.988,2.988,0,0,0,9.18,3H5a1.752,1.752,0,0,0-.4.04A2.021,2.021,0,0,0,3.16,4.23,1.926,1.926,0,0,0,3,5V19a2.052,2.052,0,0,0,.16.78,2.119,2.119,0,0,0,.43.64,2.008,2.008,0,0,0,1.01.55A2.6,2.6,0,0,0,5,21H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm-7-.25a.75.75,0,1,1-.75.75A.755.755,0,0,1,12,2.75ZM19,19H5V5H19Z" fill="#fff"/>
             </svg>
             <span>Manage Task</span>
          </button>
          </a>
          <a routerLink="/add-task">
          <button class="nav-link" id="v-pills-add-task-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-task" type="button" role="tab" aria-controls="v-pills-add-task" aria-selected="false">
             <svg id="add_box_black_24dp_1_" data-name="add_box_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_260" data-name="Path 260" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_261" data-name="Path 261" d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19Zm-8-2h2V13h4V11H13V7H11v4H7v2h4Z" fill="#fff"/>
             </svg>
             <span>Add Task</span>
          </button>
          </a>
          <a routerLink="/manage-guest">
          <button class="nav-link" id="v-pills-manage-guest-tab" data-bs-toggle="pill" data-bs-target="#v-pills-manage-guest" type="button" role="tab" aria-controls="v-pills-manage-guest" aria-selected="false">
             <svg xmlns="http://www.w3.org/2000/svg" width="24" height="20.087" viewBox="0 0 24 20.087">
                <g id="Icon_feather-users" data-name="Icon feather-users" transform="translate(0 -1.913)">
                   <path id="Path_285" data-name="Path 285" d="M17,21V19a4,4,0,0,0-4-4H5a4,4,0,0,0-4,4v2" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                   <path id="Path_286" data-name="Path 286" d="M13,7A4,4,0,1,1,9,3,4,4,0,0,1,13,7Z" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                   <path id="Path_287" data-name="Path 287" d="M23,21V19a4,4,0,0,0-3-3.87" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                   <path id="Path_288" data-name="Path 288" d="M16,3.13a4,4,0,0,1,0,7.75" fill="none" stroke="#fff" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"/>
                </g>
             </svg>
             <span>Manage Guest Facilities</span>
          </button>
          </a>
          <a routerLink="/add-guest">
          <button class="nav-link" id="v-pills-guest-facilities-tab" data-bs-toggle="pill" data-bs-target="#v-pills-guest-facilities" type="button" role="tab" aria-controls="v-pills-guest-facilities" aria-selected="false">
             <svg id="add_box_black_24dp_1_" data-name="add_box_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_262" data-name="Path 262" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_263" data-name="Path 263" d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19Zm-8-2h2V13h4V11H13V7H11v4H7v2h4Z" fill="#fff"/>
             </svg>
             <span>Add Guest Facilities</span>
          </button>
          </a>
          <button class="nav-link" id="v-pills-approvals-tab" data-bs-toggle="pill" data-bs-target="#v-pills-approvals" type="button" role="tab" aria-controls="v-pills-approvals" aria-selected="false">
             <svg id="approval_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_969" data-name="Group 969">
                   <rect id="Rectangle_53" data-name="Rectangle 53" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_971" data-name="Group 971">
                   <g id="Group_970" data-name="Group 970">
                      <path id="Path_250" data-name="Path 250" d="M4,16v6H20V16a2.006,2.006,0,0,0-2-2H6A2.006,2.006,0,0,0,4,16Zm14,2H6V16H18ZM12,2A5,5,0,0,0,7,7l5,7,5-7A5,5,0,0,0,12,2Zm0,9L9,7a3,3,0,0,1,6,0Z" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Approvals</span>
          </button>
          <a routerLink="/add-restaurants">
          <button class="nav-link" id="v-pills-add-restaurants-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-restaurants" type="button" role="tab" aria-controls="v-pills-add-restaurants" aria-selected="false">
             <svg id="add_business_black_24dp_1_" data-name="add_business_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1167" data-name="Group 1167">
                   <rect id="Rectangle_57" data-name="Rectangle 57" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_1169" data-name="Group 1169">
                   <g id="Group_1168" data-name="Group 1168">
                      <rect id="Rectangle_58" data-name="Rectangle 58" width="15" height="2" transform="translate(2 4)" fill="#fff"/>
                      <path id="Path_264" data-name="Path 264" d="M15,17h2V14h1V12L17,7H2L1,12v2H2v6h9V14h4ZM9,18H4V14H9ZM3.04,12l.6-3H15.36l.6,3Z" fill="#fff"/>
                      <path id="Path_265" data-name="Path 265" d="M23,18H20V15H18v3H15v2h3v3h2V20h3Z" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Add Restaurants</span>
          </button>
         </a>
          <a routerLink="/manage-roles-permission">
          <button class="nav-link" id="v-pills-manage-roles-tab" data-bs-toggle="pill" data-bs-target="#v-pills-manage-roles" type="button" role="tab" aria-controls="v-pills-manage-roles" aria-selected="false">
             <svg id="add_business_black_24dp_1_" data-name="add_business_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1167" data-name="Group 1167">
                   <rect id="Rectangle_57" data-name="Rectangle 57" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_1169" data-name="Group 1169">
                   <g id="Group_1168" data-name="Group 1168">
                      <rect id="Rectangle_58" data-name="Rectangle 58" width="15" height="2" transform="translate(2 4)" fill="#fff"/>
                      <path id="Path_264" data-name="Path 264" d="M15,17h2V14h1V12L17,7H2L1,12v2H2v6h9V14h4ZM9,18H4V14H9ZM3.04,12l.6-3H15.36l.6,3Z" fill="#fff"/>
                      <path id="Path_265" data-name="Path 265" d="M23,18H20V15H18v3H15v2h3v3h2V20h3Z" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Manage Roles and Permission</span>
          </button>
          </a>
          <a routerLink="/add-roles-permission">
          <button class="nav-link" id="v-pills-add-roles-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-roles" type="button" role="tab" aria-controls="v-pills-add-roles" aria-selected="false">
             <svg id="add_box_black_24dp_1_" data-name="add_box_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_260" data-name="Path 260" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_261" data-name="Path 261" d="M19,3H5A2,2,0,0,0,3,5V19a2,2,0,0,0,2,2H19a2.006,2.006,0,0,0,2-2V5A2.006,2.006,0,0,0,19,3Zm0,16H5V5H19Zm-8-2h2V13h4V11H13V7H11v4H7v2h4Z" fill="#fff"/>
             </svg>
             <span>Add Roles & Permission</span>
          </button>
           </a>
           <a routerLink="/add-room-service">
          <button class="nav-link" id="v-pills-room-services-tab" data-bs-toggle="pill" data-bs-target="#v-pills-room-services" type="button" role="tab" aria-controls="v-pills-room-services" aria-selected="false">
             <svg id="playlist_add_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1170" data-name="Group 1170">
                   <rect id="Rectangle_59" data-name="Rectangle 59" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_1171" data-name="Group 1171">
                   <path id="Path_266" data-name="Path 266" d="M14,10H3v2H14Zm0-4H3V8H14Zm4,8V10H16v4H12v2h4v4h2V16h4V14ZM3,16h7V14H3Z" fill="#fff"/>
                </g>
             </svg>
             <span>Add List of room services</span>
          </button>
         </a>
          <a routerLink="/add-travel-agent">
          <button class="nav-link" id="v-pills-add-travel-agent-tab" data-bs-toggle="pill" data-bs-target="#v-pills-add-travel-agent" type="button" role="tab" aria-controls="v-pills-add-travel-agent" aria-selected="false">
             <svg id="add_road_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1175" data-name="Group 1175">
                   <rect id="Rectangle_66" data-name="Rectangle 66" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_1177" data-name="Group 1177">
                   <g id="Group_1176" data-name="Group 1176">
                      <path id="Path_268" data-name="Path 268" d="M20,18V15H18v3H15v2h3v3h2V20h3V18Z" fill="#fff"/>
                      <rect id="Rectangle_67" data-name="Rectangle 67" width="2" height="9" transform="translate(18 4)" fill="#fff"/>
                      <rect id="Rectangle_68" data-name="Rectangle 68" width="2" height="16" transform="translate(4 4)" fill="#fff"/>
                      <rect id="Rectangle_69" data-name="Rectangle 69" width="2" height="4" transform="translate(11 4)" fill="#fff"/>
                      <rect id="Rectangle_70" data-name="Rectangle 70" width="2" height="4" transform="translate(11 10)" fill="#fff"/>
                      <rect id="Rectangle_71" data-name="Rectangle 71" width="2" height="4" transform="translate(11 16)" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Add travel Agent</span>
          </button>
          </a>
          <a routerLink="/manage-travel-agent-commission">
          <button class="nav-link" id="v-pills-agent-commission-tab" data-bs-toggle="pill" data-bs-target="#v-pills-agent-commission" type="button" role="tab" aria-controls="v-pills-agent-commission" aria-selected="false">
             <svg id="add_road_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1175" data-name="Group 1175">
                   <rect id="Rectangle_66" data-name="Rectangle 66" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_1177" data-name="Group 1177">
                   <g id="Group_1176" data-name="Group 1176">
                      <path id="Path_268" data-name="Path 268" d="M20,18V15H18v3H15v2h3v3h2V20h3V18Z" fill="#fff"/>
                      <rect id="Rectangle_67" data-name="Rectangle 67" width="2" height="9" transform="translate(18 4)" fill="#fff"/>
                      <rect id="Rectangle_68" data-name="Rectangle 68" width="2" height="16" transform="translate(4 4)" fill="#fff"/>
                      <rect id="Rectangle_69" data-name="Rectangle 69" width="2" height="4" transform="translate(11 4)" fill="#fff"/>
                      <rect id="Rectangle_70" data-name="Rectangle 70" width="2" height="4" transform="translate(11 10)" fill="#fff"/>
                      <rect id="Rectangle_71" data-name="Rectangle 71" width="2" height="4" transform="translate(11 16)" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Manage Travel Agent Commission</span>
          </button>
          </a>
          <a routerLink="/add-travel-agent-commission">
          <button class="nav-link" id="v-pills-agent-commission-tab" data-bs-toggle="pill" data-bs-target="#v-pills-agent-commission" type="button" role="tab" aria-controls="v-pills-agent-commission" aria-selected="false">
             <svg id="add_road_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_1175" data-name="Group 1175">
                   <rect id="Rectangle_66" data-name="Rectangle 66" width="24" height="24" fill="none"/>
                </g>
                <g id="Group_1177" data-name="Group 1177">
                   <g id="Group_1176" data-name="Group 1176">
                      <path id="Path_268" data-name="Path 268" d="M20,18V15H18v3H15v2h3v3h2V20h3V18Z" fill="#fff"/>
                      <rect id="Rectangle_67" data-name="Rectangle 67" width="2" height="9" transform="translate(18 4)" fill="#fff"/>
                      <rect id="Rectangle_68" data-name="Rectangle 68" width="2" height="16" transform="translate(4 4)" fill="#fff"/>
                      <rect id="Rectangle_69" data-name="Rectangle 69" width="2" height="4" transform="translate(11 4)" fill="#fff"/>
                      <rect id="Rectangle_70" data-name="Rectangle 70" width="2" height="4" transform="translate(11 10)" fill="#fff"/>
                      <rect id="Rectangle_71" data-name="Rectangle 71" width="2" height="4" transform="translate(11 16)" fill="#fff"/>
                   </g>
                </g>
             </svg>
             <span>Travel Agent Commission</span>
          </button>
          </a>
          <a routerLink="/add-coupon-code">
          <button class="nav-link" id="v-pills-discounts-coupon-tab" data-bs-toggle="pill" data-bs-target="#v-pills-discounts-coupon" type="button" role="tab" aria-controls="v-pills-discounts-coupon" aria-selected="false">
             <svg id="local_offer_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <path id="Path_269" data-name="Path 269" d="M0,0H24V24H0Z" fill="none"/>
                <path id="Path_270" data-name="Path 270" d="M21.41,11.58l-9-9A1.987,1.987,0,0,0,11,2H4A2.006,2.006,0,0,0,2,4v7a2,2,0,0,0,.59,1.42l9,9A1.987,1.987,0,0,0,13,22a1.955,1.955,0,0,0,1.41-.59l7-7A1.955,1.955,0,0,0,22,13,2.02,2.02,0,0,0,21.41,11.58ZM13,20.01,4,11V4h7V3.99l9,9Z" fill="#fff"/>
                <circle id="Ellipse_41" data-name="Ellipse 41" cx="1.5" cy="1.5" r="1.5" transform="translate(5 5)" fill="#fff"/>
             </svg>
             <span>Offers and discounts coupon</span>
          </button>
          </a>
          <a routerLink="/manage-coupon-code">
          <button class="nav-link" id="v-pills-view-discounts-coupon-tab" data-bs-toggle="pill" data-bs-target="#v-pills-view-discounts-coupon" type="button" role="tab" aria-controls="v-pills-view-discounts-coupon" aria-selected="false">
              <svg id="local_offer_black_24dp" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                  <path id="Path_269" data-name="Path 269" d="M0,0H24V24H0Z" fill="none"/>
                  <path id="Path_270" data-name="Path 270" d="M21.41,11.58l-9-9A1.987,1.987,0,0,0,11,2H4A2.006,2.006,0,0,0,2,4v7a2,2,0,0,0,.59,1.42l9,9A1.987,1.987,0,0,0,13,22a1.955,1.955,0,0,0,1.41-.59l7-7A1.955,1.955,0,0,0,22,13,2.02,2.02,0,0,0,21.41,11.58ZM13,20.01,4,11V4h7V3.99l9,9Z" fill="#fff"/>
                  <circle id="Ellipse_41" data-name="Ellipse 41" cx="1.5" cy="1.5" r="1.5" transform="translate(5 5)" fill="#fff"/>
              </svg>
             <span>View Offers and discounts coupon</span>
          </button>
          </a>
          <a href="javascript:void(0);" (click)="logoutUser()" class="nav-link">
             <svg id="logout_black_24dp_1_" data-name="logout_black_24dp (1)" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                <g id="Group_946" data-name="Group 946">
                   <path id="Path_233" data-name="Path 233" d="M0,0H24V24H0Z" fill="none"/>
                </g>
                <g id="Group_947" data-name="Group 947">
                   <path id="Path_234" data-name="Path 234" d="M17,8,15.59,9.41,17.17,11H9v2h8.17l-1.58,1.58L17,16l4-4ZM5,5h7V3H5A2.006,2.006,0,0,0,3,5V19a2.006,2.006,0,0,0,2,2h7V19H5Z" fill="#fff"/>
                </g>
             </svg>
             <span>Log Out</span>
          </a>
       </div>
    </div>
    <div class="jci-dashboard-info">
       <p class="jci-dashboard-info-text"> © 2021 Juss check In. <br/> All rights reserved.</p>
    </div>
 </div>