<section class="jci-dashboard-section">
    <div class="jci-dashboard__inner">
       <div class="jci-dashboard-sidebar">
        <app-leftmenu></app-leftmenu>
       </div>
       <div class="jci-dashboard-content">
          <div class="jci-dashboard-content__inner">
             <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane active" id="v-pills-manage-task" role="tabpanel"  aria-labelledby="v-pills-manage-task-tab">
                    <div class="jci-dashboard-content-area" data-scrollbar>
                       <div class="jci-upcoming-booking">
                          <h2 class="jci-dashboard-title">Manage Facility</h2>
                          <div class="row">
                             <div class="col col-12 col-md-4 col-lg-4" *ngFor="let guest of guest.data">
                                <div class="jci-property-card card">
                                   <div class="card-body">
                                      <h3 class="jci-property-name">{{guest.title}}</h3>
                                      <p class="card-body-text">{{guest.description}}</p>
                                      <div class="col-md-12 mt-3">
                                         <button type="button" class="btn btn-dark">View</button>
                                         <a routerLink="/edit-guest/{{guest.user_id}}"><button type="button" class="btn btn-success">Edit</button></a>
                                         <button (click)="deleteGuest(guest.id)" type="button" class="btn btn-danger">Delete</button>
                                      </div>
                                   </div>
                                </div>
                             </div>
                          </div>
                       </div>
                    </div>
                 </div>
             </div>
          </div>
       </div>
    </div>
 </section>