<footer class="jci-site-footer">
    <div class="container">
        <div class="row">
            <div class="col col-6 col-md-3 col-lg-3">
                <div class="jci-footer-content">
                    <div class="jci-footer-logo">
                        <img src="assets/images/logo.png" alt="Logo" class="img-fluid">
                    </div>
                    <p class="jci-footer-description">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum asperiores voluptatibus, magni voluptates tenetur inventore distinctio fugiat natus</p>
                    <ul class="jci-social-media-list">
                        <li class="jci-social-media-item">
                            <a href="#" class="jci-social-media-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="15.924" height="30.531" viewBox="0 0 15.924 30.531">
                                    <path id="icons8-facebook-f_2_" data-name="icons8-facebook-f (2)" d="M21.354,12.686H17.686V9.633c0-1.575.128-2.568,2.386-2.568H21.4a1.527,1.527,0,0,0,1.527-1.527V3.624A1.53,1.53,0,0,0,21.515,2.09Q20.131,2,18.744,2C14.6,2,11.58,4.53,11.58,9.173v3.513H8.527A1.527,1.527,0,0,0,7,14.212v3.053a1.527,1.527,0,0,0,1.527,1.527l3.053,0V31a1.527,1.527,0,0,0,1.527,1.527h3.053A1.527,1.527,0,0,0,17.686,31V18.788l3.319,0a1.526,1.526,0,0,0,1.516-1.353l.35-3.047A1.525,1.525,0,0,0,21.354,12.686Z" transform="translate(-7 -2)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li class="jci-social-media-item">
                            <a href="#" class="jci-social-media-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="26.001" height="21.129" viewBox="0 0 26.001 21.129">
                                    <path id="icons8-twitter_1_" data-name="icons8-twitter (1)" d="M28,6.937a10.648,10.648,0,0,1-3.064.84,5.343,5.343,0,0,0,2.345-2.951,10.7,10.7,0,0,1-3.388,1.3A5.336,5.336,0,0,0,14.666,9.77a5.394,5.394,0,0,0,.138,1.215A15.143,15.143,0,0,1,3.809,5.411,5.344,5.344,0,0,0,5.46,12.533a5.323,5.323,0,0,1-2.416-.667v.067a5.335,5.335,0,0,0,4.279,5.23,5.336,5.336,0,0,1-1.406.187,5.431,5.431,0,0,1-1-.095A5.341,5.341,0,0,0,9.9,20.96,10.764,10.764,0,0,1,2,23.169a15.1,15.1,0,0,0,8.177,2.4A15.072,15.072,0,0,0,25.352,10.388q0-.346-.015-.69A10.855,10.855,0,0,0,28,6.937Z" transform="translate(-1.999 -4.436)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li class="jci-social-media-item">
                            <a href="#" class="jci-social-media-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="23" height="22" viewBox="0 0 23 22">
                                    <path id="icons8-linkedin-2" d="M9,25H4V10H9ZM6.5,8A2.5,2.5,0,1,1,9,5.5,2.5,2.5,0,0,1,6.5,8ZM27,25H22.193V17.7c0-1.741-.033-3.98-2.5-3.98-2.5,0-2.888,1.9-2.888,3.854V25H12V9.989h4.614V12.04h.065A5.084,5.084,0,0,1,21.23,9.616c4.87,0,5.77,3.109,5.77,7.151C27,16.767,27,25,27,25Z" transform="translate(-4 -3)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                        <li class="jci-social-media-item">
                            <a href="#" class="jci-social-media-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="22" viewBox="0 0 22 22">
                                    <path id="icons8-instagram-logo_1_" data-name="icons8-instagram-logo (1)" d="M11.469,5A6.494,6.494,0,0,0,5,11.469v9.063A6.494,6.494,0,0,0,11.469,27h9.063A6.494,6.494,0,0,0,27,20.531V11.469A6.494,6.494,0,0,0,20.531,5Zm0,2h9.063A4.463,4.463,0,0,1,25,11.469v9.063A4.463,4.463,0,0,1,20.531,25H11.469A4.463,4.463,0,0,1,7,20.531V11.469A4.463,4.463,0,0,1,11.469,7ZM21.906,9.188a.906.906,0,1,0,.906.906A.9.9,0,0,0,21.906,9.188ZM16,10a6,6,0,1,0,6,6A6.017,6.017,0,0,0,16,10Zm0,2a4,4,0,1,1-4,4A3.983,3.983,0,0,1,16,12Z" transform="translate(-5 -5)" fill="#fff"/>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col col-6 col-md-3 col-lg-3">
                <div class="jci-footer-menu">
                    <h4 class="jci-footer-menu-title">Quick Links</h4>
                    <ul class="jci-footer-menu-list">
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Home</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">About</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Contact Us</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">FAQ</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Privacy & Policy</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Terms & Condition</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col col-6 col-md-3 col-lg-3">
                <div class="jci-footer-menu">
                    <h4 class="jci-footer-menu-title">Quick Links</h4>
                    <ul class="jci-footer-menu-list">
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Home</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">About</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Contact Us</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">FAQ</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Privacy & Policy</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Terms & Condition</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
            <div class="col col-6 col-md-3 col-lg-3">
                <div class="jci-footer-menu">
                    <h4 class="jci-footer-menu-title">Quick Links</h4>
                    <ul class="jci-footer-menu-list">
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Home</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">About</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Contact Us</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">FAQ</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Privacy & Policy</a>
                        </li>
                        <li class="jci-footer-menu-item">
                            <a href="#" class="jci-footer-menu-link">Terms & Condition</a>
                        </li>
                        
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="jci-site-info">
        <p class="jci-site-info-text text-center">Copyright © 2021, SITE-NAME.  All rights reserved.</p>
    </div>
</footer>