<section class="jci-dashboard-section">
    <div class="jci-dashboard__inner">
       <div class="jci-dashboard-sidebar">
        <app-leftmenu></app-leftmenu>
       </div>
       <div class="jci-dashboard-content">
          <div class="jci-dashboard-content__inner">
             <div class="tab-content" id="v-pills-tabContent">
                <div class="tab-pane active" id="v-pills-manage-task" role="tabpanel"  aria-labelledby="v-pills-manage-task-tab">
                    <div class="jci-dashboard-content-area" data-scrollbar>
                        <div class="jci-guest-facilities h-100">
                           <div class="jci-content-area">
                              <h2 class="jci-dashboard-title">Edit Guest Facilities</h2>
                              <form class="row g-3" [formGroup]="frmGuest" name="frmGuest" method="POST" (ngSubmit)="submitGuest()" novalidate>
                                 <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Guest Name</label>
                                    <input type="text" class="form-control" name="title" id="title" formControlName="title" placeholder="Enter Guest Name">

                                    <div *ngIf="frmGuest.controls.title.invalid && (frmGuest.controls.title.dirty || frmGuest.controls.title.touched)">
                                        <div class="error-block" *ngIf="frmGuest.get('title')?.hasError('required')">
                                            Please enter name
                                        </div>
                                    </div>

                                 </div>
                                 <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Guest Description</label>
                                    <input type="text" class="form-control" name="description" id="description" formControlName="description" placeholder="Enter Description">

                                    <div *ngIf="frmGuest.controls.description.invalid && (frmGuest.controls.description.dirty || frmGuest.controls.description.touched)">
                                        <div class="error-block" *ngIf="frmGuest.get('description')?.hasError('required')">
                                            Please enter name
                                        </div>
                                    </div>

                                 </div>
                                 <div class="col-md-12">
                                    <label for="inputPassword4" class="form-label">Guest Image</label>
                                    <div class="jci-choose-file-input">
                                       <input type="file" class="form-control" id="image" formControlName="image" (change)="onFileChange($event)">

                                       <img [src]="imageSrc" *ngIf="imageSrc" style="height: 100px; width:100px">

                                    </div>
                                 </div>

                                 <div class="col-md-6">
                                    <label for="inputPassword4" class="form-label">Facility Type</label>
                                    <div class="jci-choose-file-input">
                                       <input type="radio" name="facility_type" value="free" [checked]="facility_type=='free'" (click)="onTypeClick('free')">Free
                                       <input type="radio" name="facility_type" value="paid" [checked]="facility_type=='paid'" (click)="onTypeClick('paid')">Paid
                                    </div>
                                 </div>

                                 <div class="col-md-6" *ngIf="facility_type=='paid'">
                                    <label for="inputPassword4" class="form-label">Amount</label>
                                    <input type="text" class="form-control" name="amount" id="amount" formControlName="amount" placeholder="Enter Amount">
                                 </div>

                                 <div class="col-12">
                                    <button type="submit" class="btn btn-success" [disabled]="(!frmGuest.valid)">Edit Facilities</button>
                                 </div>
                              </form>
                           </div>
                        </div>
                     </div>
                 </div>
             </div>
          </div>
       </div>
    </div>
 </section>